.hover-class {
  border: none;
  color: whitesmoke;
  border-radius: 5px;
  background-color: #5d5bce;
}

.hover-class:hover {
  background-color: #76c988;
  color: aliceblue;
}

.head {
  margin-left: 300px;
  color: rgb(63, 59, 126);
  font-size: 40px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: cursive;
}
.tablehead {
  background-color: #ececec;
}
