<div *ngIf="!isLoading" class="head">
    <p>TOP 5 MID CAP NIFTY STOCKS</p>
</div>

<div *ngIf="isLoading" class="texty">
    <H2 style="color: crimson;">Top 5 Mid Cap Nifty stocks based on its last two weeks performances</H2>
</div>

<div *ngIf="isLoading" class="loadingimg">
    <img src="../../../../assets/Loading.gif">
</div>


<table *ngIf="!isLoading" class="table table-hover mt">
    <tr class="tablehead">
        <th scope="col">Company Name</th>
        <th> Symbol</th>
        <th>Price</th>
        <th>Market Cap</th>
        <th>Opening Price</th>
        <th>Previous closing price</th>
        <th>Dividend</th>
        <th>Volume</th>
        <th>Action</th>

    </tr>
    <!-- id="{{'row'+i}}" -->
    <tr class="damn" *ngFor="let obj of StocksArray; let i = index ">
        <td id="name" class="">{{obj.companyName}}</td>
        <td class="">{{obj.companySymbol}}</td>
        <td class="">{{obj.price}}</td>
        <td class="">{{obj.marketCap}}</td>
        <td class="">{{obj.openPrice}}</td>
        <td class="">{{obj.previousClosingPrice}}</td>
        <td class="">{{obj.dividend}}</td>
        <td class="">{{obj.volume}}</td>
        <td class=""><button class="savebtn" id="'row'+i" (click)="saveStock(obj)">Save</button></td>

    </tr>
</table>