<div style="display: flex;">
    <div style="width: 100%; position: relative; height: 100vh; ">
        <img src="../../../assets/login.gif" />
        <!-- <p class="welcome">
            Welcome
        </p> -->
    
    
        <!-- <p class="welcome">
            MADE
        </p>
        <P class="welcome">
            EASY
        </P> -->
    </div>
    
  
        <p class="welcome">
            TRADING MADE EASY!
         
        </p>
        <!-- <p style="color: black;">Get Information about Nifty Stocks. Get Recommendation about top performing stocks. Save stocks
            for future
            referrence.</p> -->
       
  
    
   
</div>
